<!DOCTYPE html>
<html lang="en">

<!-- head -->

<%- include("./partials/head") %>

    <!-- hoja de estilos -->

    <link rel="stylesheet" href="/css/stylesLogin.css">


    <body>

        <!-- header -->
    
 <%- include("./partials/header") %>
 

            <main>
                <div class="contenedor-main">

                    <div class="top-main">
                        <p>Bienvenid@ a HouseClothing!</p>

                        <p>LOG IN</p>
                    </div>

                    <form action="/usuarios/iniciarsesion" method="POST" class="bottom-main">
                        <div class="campos-de-texto">
                            <input name="email" type="text" placeholder="Nombre de Usuario o mail">
                            <% if (locals.errors && errors.email) { %>
                                <div class="text-danger">
                                    <%= errors.email.msg %>
                                </div>
                            <input name="contrasena" type="text" placeholder="Contraseña">
                            <% if (locals.errors && errors.contrasena) { %>
                                <div class="text-danger">
                                    <%= errors.contrasena.msg %>
                                </div>
                        </div>
                        <div class="botonera">
                            <label><input type="checkbox">  Recuerdame</label>
                            <div class="botones">
                                <a href='/homeOficial'><button class="boton1">Log in</button></a>
                            </div>
                            <a href="#">Olvidaste la contraseña?</a>
                        </div>
                    </form>
                    <a href="/usuarios/crearcuenta"><button class="boton2">Sign up</button></a>
                </div>
            </main>

            <!-- footer -->

            <%- include("./partials/footer") %>

    </body>

</html>