<!DOCTYPE html>
<html lang="en">

<!-- head -->

<%- include("./partials/head") %>

    <!-- hoja de estilos -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="/css/stylesLogin.css">


    <body>

        <!-- header -->

        <%- include("./partials/header") %>


            <main>
                <div class="contenedor-main">

                    <div class="top-main">
                        <p>Bienvenid@ a HouseClothing!</p>

                        <p>LOG IN</p>
                    </div>

                    <form action="/usuarios/iniciarsesion" method="POST" class="bottom-main">

                        <div class="campos-de-texto">
                            <input name="email" type="text" placeholder="Nombre de Usuario o mail">
                            <% if (locals.errors && errors.email) { %>
                                <div class="text-danger">
                                    <%= errors.email.msg %>
                                </div>
                                <% } %>
                        </div>

                        <div class="campos-de-texto">
                            <input name="contrasena" type="password" placeholder="Contraseña">
                            <% if (locals.errors && errors.contrasena) { %>
                                <div class="text-danger">
                                    <%= errors.contrasena.msg %>
                                </div>
                                <% } %>
                        </div>

                        <div class="botonera">
                            <label>
                                <input type="checkbox" name="recordar_email"> Recordar mi usuario
                            </label>

                        <div class="botonera">
                            <button type="submit" class="boton1" value="Iniciar Sesion" >Log in</button>
                        <a href="#">Olvidaste la contraseña?</a><a href="/usuarios/crearcuenta">No tenes cuenta?</a>
                    </div>
                        </div>
                    </form>

                </div>
            </main>

            <!-- footer -->

            <%- include("./partials/footer") %>

    </body>

</html>