<!DOCTYPE html>
<html lang="en">


<%- include("./partials/head") %>

<!-- head -->

<link rel="stylesheet" href="/css/stylesPerfil.css">


<body>
    <!-- header -->
   
    <%- include("./partials/header") %>
    <main>
        
        <div class="perfil-usuario">

            <h2>Perfil de Usuario</h2>
            <h4>Hola <%= user.firstname %> </h4>
            <img src="/img/users-avatar/<%= user.image %>">
            <div> <%= user.email %> </div>
        </div>


    </main>

    <!-- footer -->

    <%- include("./partials/footer") %>
    
</body>
</html>