<<<<<<< HEAD
<<<<<<< HEAD
=======


>>>>>>> a36b9d1bd71a1c4c2e2ecb02717386b828119aa2
=======


>>>>>>> a36b9d1bd71a1c4c2e2ecb02717386b828119aa2
<!DOCTYPE html>
<html lang="en">


<<<<<<< HEAD
<<<<<<< HEAD
  <%- include("./partials/head") %>

  <!-- head -->

=======
=======
>>>>>>> a36b9d1bd71a1c4c2e2ecb02717386b828119aa2
<%- include("./partials/head") %>

  <!-- head -->

  <link rel="stylesheet" href="css/normalize.css">
<<<<<<< HEAD
>>>>>>> a36b9d1bd71a1c4c2e2ecb02717386b828119aa2
=======
>>>>>>> a36b9d1bd71a1c4c2e2ecb02717386b828119aa2
   <link rel="stylesheet" href="/css/stylesPerfil.css">


    <body>
      <!-- header -->
   
     <%- include("./partials/header") %>

              
                <main class="perfil-usuario"> 
<<<<<<< HEAD
<<<<<<< HEAD
        
                    <article class="seccion-usuario">
                        <h3>Perfil de Usuario</h3> 
                        <p>Hola <%= user.firstname %> </p> 
                        <p> <%= user.email %> </p> 
                        <div>
                           <img class="foto-perfil" src="/img/users-avatar/<%= user.image %>">
                        </div>
                    </article>
                
=======
=======
>>>>>>> a36b9d1bd71a1c4c2e2ecb02717386b828119aa2
                    
                    <%# usuario.forEach(usuarioLista => { %>
                    <article class="seccion-usuario">
                       
                        <h3>Perfil de Usuario</h3> 
                        <p>Hola <%=  user.nombre%> </p> 
                        <p> <%=  user.email %> </p> 
                        <div>
                          <img class="foto-perfil" src="/img/avatars/<%= user.imagen %>">
                        </div>
                        
                          <a href="/usuarios/edicionUsuario/<%- user.id %>">
                            <button class="boton2">Editar</button>
                          </a>
                        
                    </article>
                    <%# }) %>
<<<<<<< HEAD
>>>>>>> a36b9d1bd71a1c4c2e2ecb02717386b828119aa2
=======
>>>>>>> a36b9d1bd71a1c4c2e2ecb02717386b828119aa2
                </main>

             <!-- footer -->

<<<<<<< HEAD
<<<<<<< HEAD
             <%- include("./partials/footer") %>
=======
             <%- include("./partials/footerLogueado") %>
>>>>>>> a36b9d1bd71a1c4c2e2ecb02717386b828119aa2
=======
             <%- include("./partials/footerLogueado") %>
>>>>>>> a36b9d1bd71a1c4c2e2ecb02717386b828119aa2
    
    </body>
</html>