<!DOCTYPE html>
<html lang="en">

<!-- head -->

<%- include("./partials/head") %>

    <!-- hoja de estilos -->
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    
=======

    <link rel="stylesheet" href="css/normalize.css">
>>>>>>> a36b9d1bd71a1c4c2e2ecb02717386b828119aa2
=======

    <link rel="stylesheet" href="css/normalize.css">
>>>>>>> a36b9d1bd71a1c4c2e2ecb02717386b828119aa2
=======

    <link rel="stylesheet" href="css/normalize.css">
>>>>>>> sprint6
    <link rel="stylesheet" href="/css/stylesRegister.css">

    <body>

        <!-- header -->

        <%- include("./partials/header") %>


            <main>

                <div class="contenedor-main">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                    <div class="top">
                        <p>Home > Login > Registro </p>
=======


                    <div class="top">
>>>>>>> a36b9d1bd71a1c4c2e2ecb02717386b828119aa2
=======


                    <div class="top">
>>>>>>> a36b9d1bd71a1c4c2e2ecb02717386b828119aa2
=======


                    <div class="top">
>>>>>>> sprint6
                        <p>CREA TU CUENTA</p>
                    </div>

                    <hr class="linea-divisoria2">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                    

                    <form action="/usuarios/crearcuenta" name="file" method="POST" class="bottom" enctype="multipart/form-data">

                        <div class="campos-de-relleno">
                            <p>Nombre</p>
                            <input   
                            type="text" 
                            name="firstname" 
                            class="campo-individual <%=locals.errors && errors.firstname ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.firstname : null %>"
                            placeholder="Nombre"
                            >
                            <% if (locals.errors && errors.firstname) { %>
                                <div class="texto-error">
                                    <%= errors.firstname.msg %>
                                </div>
                                <% } %>
                        </div>

                        <div class="campos-de-relleno">
                            <p>Apellido</p>
                            <input input   
                            type="text" 
                            name="lastname" 
                            class="campo-individual <%=locals.errors && errors.lastname ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.lastname : null %>"
                            placeholder="Apellido"
                            >
                            <% if (locals.errors && errors.lastname) { %>
                                <div class="texto-error">
                                    <%= errors.lastname.msg %>
                                </div>
                                <% } %>
                        </div>

                        <div class="campos-de-relleno">
                            <p>Email</p>
                            <input  
                            input   
=======
=======
>>>>>>> a36b9d1bd71a1c4c2e2ecb02717386b828119aa2
=======
>>>>>>> sprint6

                    <form method="POST" name="file" action="/usuarios/crearcuenta" class="bottom" enctype="multipart/form-data">

                        <div class="campos-de-relleno">
                            <p>Imagen de perfil</p>
                            <input 
                            type="file" 
                            name="imagen"
                            class="letrasTipoArchivo <% locals.errors && errors.imagen ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.imagen : null %>"
                            >
                            <% if (locals.errors && errors.imagen) { %>
                                <div class="texto-error">
                                    <%= errors.imagen.msg %>
                                </div>
                                <% } %>
                        </div>

                        <div class="campos-de-relleno">
                            <div>
                            <p>Nombre y Apellido</p>
                            <input 
                            type="text" 
                            name="nombre" 
                            class="campo-individual <%=locals.errors && errors.nombre ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.nombre : null %>"
                            placeholder="Nombre y Apellido"
                            >
                            <% if (locals.errors && errors.nombre) { %>
                                <div class="texto-error">
                                    <%= errors.nombre.msg %>
                                </div>
                                <% } %>
                        </div>
                    </div>

                    
                        <div class="campos-de-relleno">
                            <div>
                            <p>Email</p>
                            <input   
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> a36b9d1bd71a1c4c2e2ecb02717386b828119aa2
=======
>>>>>>> a36b9d1bd71a1c4c2e2ecb02717386b828119aa2
=======
>>>>>>> sprint6
                            type="email" 
                            name="email" 
                            class="campo-individual <%=locals.errors && errors.email ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.email : null %>"
                            placeholder="email@dirección.com"
                            >
                            <% if (locals.errors && errors.email) { %>
                                <div class="texto-error">
                                    <%= errors.email.msg %>
                                </div>
                                <% } %>
                        </div>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD

                        <div class="campos-de-relleno">
                            <p>Telefono</p>
                            <input 
                            type="tel" 
                            name="phone" 
                            class="campo-individual <%=locals.errors && errors.phone ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.phone : null %>"
                            placeholder="num. de teléfono"
                            >
                            <% if (locals.errors && errors.phone) { %>
                                <div class="texto-error">
                                    <%= errors.phone.msg %>
                                </div>
                                <% } %>
                        </div>

=======
=======
>>>>>>> a36b9d1bd71a1c4c2e2ecb02717386b828119aa2
=======
>>>>>>> sprint6
                    </div>

                    
                        <div class="campos-de-relleno">
                            <div>
                            <p>Teléfono</p>
                            <input
                            type="tel" 
                            name="telefono" 
                            class="campo-individual <%=locals.errors && errors.telefono ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.telefono : null %>"
                            placeholder="num. de teléfono"
                            >
                            <% if (locals.errors && errors.telefono) { %>
                                <div class="texto-error">
                                    <%= errors.telefono.msg %>
                                </div>
                                <% } %>
                        </div>
                    </div>

                    
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> a36b9d1bd71a1c4c2e2ecb02717386b828119aa2
=======
>>>>>>> a36b9d1bd71a1c4c2e2ecb02717386b828119aa2
=======
>>>>>>> sprint6
                        <div class="campos-de-relleno">
                            <div>
                            <p>Categoría</p>
                            <select   
                            name="categoria" 
                            class="campo-individual <%=locals.errors && errors.categoria ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.categoria : null %>"
                            >
                                <option value=""> </option>
                                <% let categorias=['Cliente', 'Vendedor' ]; %>
                                    <% for(const unaCategoria of categorias) { %>
                                        <option value="<%= unaCategoria %>">
                                            <%= locals.oldData && (unaCategoria==oldData.categoria) ? oldData.categoria
                                                : null%>>
                                                <%= unaCategoria %>
                                        </option>
                                        <% } %>
                            </select>
                            <% if (locals.errors && errors.categoria) { %>
                                <div class="texto-error">
                                    <%= errors.categoria.msg %>
                                </div>
                                <% } %>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                           </div>
                        </div>

                        <div class="campos-de-relleno">
                            <p>Contrasena</p>
                            <input 
                            type="password" 
                            name="password" 
                            placeholder="**********"
                            class="campo-individual <%=locals.errors && errors.password ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.password : null %>"
                            >
                            <% if (locals.errors && errors.password) { %>
                                <div class="texto-error">
                                    <%= errors.password.msg %>
                                </div>
                                <% } %>
                            <br><br>
                            <input type="file" name="profile-picture">

                           <div class="botones">
                              <button type="submit" class="boton2">Creá tu cuenta</button>
                           </div>

=======
=======
>>>>>>> a36b9d1bd71a1c4c2e2ecb02717386b828119aa2
=======
>>>>>>> sprint6
                        </div>
                    </div>

                    
                        <div class="campos-de-relleno">
                            <div>
                            <p>Contraseña</p>
                            <input   
                            type="password" 
                            name="contrasena" 
                            placeholder="**********"
                            class="campo-individual <%=locals.errors && errors.contrasena ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.contrasena : null %>"
                            >
                            <% if (locals.errors && errors.contrasena) { %>
                                <div class="texto-error">
                                    <%= errors.contrasena.msg %>
                                </div>
                                <% } %>
                        </div>
                    </div>

                        <div class="campos-de-relleno">
                                <button type="submit" class="boton2">Creá tu cuenta</button>
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> a36b9d1bd71a1c4c2e2ecb02717386b828119aa2
=======
>>>>>>> a36b9d1bd71a1c4c2e2ecb02717386b828119aa2
=======
>>>>>>> sprint6
                        </div>

                    </form>

                </div>


<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                </div>
=======

>>>>>>> a36b9d1bd71a1c4c2e2ecb02717386b828119aa2
=======

>>>>>>> a36b9d1bd71a1c4c2e2ecb02717386b828119aa2
=======

>>>>>>> sprint6

            </main>

            <!-- footer -->

            <%- include("./partials/footer") %>

    </body>

</html>