<!DOCTYPE html>
<html lang="en">

<!-- head -->

<%- include("./partials/head") %>

    <!-- hoja de estilos -->

    <link rel="stylesheet" href="/css/stylesRegister.css">

    <body>

        <!-- header -->

        <%- include("./partials/header") %>


            <main>

                <div class="contenedor-main">


                    <div class="top">
                        <p>CREA TU CUENTA</p>
                    </div>

                    <hr class="linea-divisoria2">

                    <form action="/usuarios/crearcuenta" method="POST" class="bottom" enctype="multipart/form-data">

                        <div class="campos-de-relleno">
                            <p>Imagen de perfil</p>
                            <input 
                            type="file" 
                            name="imagen"
                            value="<%= locals.oldData ? oldData.imagen : null %>"
                            class="letrasTipoArchivo <%=locals.errors && errors.imagen ? 'is-invalid' : null %>">
                            <% if (locals.errors && errors.imagen) { %>
                                <div class="texto-error">
                                    <%= errors.imagen.msg %>
                                </div>
                                <% } %>
                        </div>

                        <div class="campos-de-relleno">
                            <p>Nombre y Apellido</p>
                            <input 
                            class="campo-individual <%=locals.errors && errors.nombre ? 'is-invalid' : null %>"
                            type="text" 
                            name="nombre" 
                            value="<%= locals.oldData ? oldData.nombre : null %>"
                            placeholder="Nombre y Apellido">
                            <% if (locals.errors && errors.nombre) { %>
                                <div class="texto-error">
                                    <%= errors.nombre.msg %>
                                </div>
                                <% } %>
                        </div>

                        <div class="campos-de-relleno">
                            <p>Email</p>
                            <input   
                            class="campo-individual <%=locals.errors && errors.email ? 'is-invalid' : null %>"
                            type="email" 
                            name="email" 
                            value="<%= locals.oldData ? oldData.email : null %>"
                            placeholder="email@dirección.com">
                            <% if (locals.errors && errors.email) { %>
                                <div class="texto-error">
                                    <%= errors.email.msg %>
                                </div>
                                <% } %>
                        </div>

                        <div class="campos-de-relleno">
                            <p>Teléfono</p>
                            <input
                            class="campo-individual <%=locals.errors && errors.nombre ? 'is-invalid' : null %>"
                            type="tel" 
                            name="telefono" 
                            value="<%= locals.oldData ? oldData.telefono : null %>"
                            placeholder="num. de teléfono">
                            <% if (locals.errors && errors.telefono) { %>
                                <div class="texto-error">
                                    <%= errors.telefono.msg %>
                                </div>
                                <% } %>
                        </div>

                        <div class="campos-de-relleno">
                            <p>Categoría</p>
                            <select   
                            class="campo-individual <%=locals.errors && errors.categoria ? 'is-invalid' : null %>"
                            name="categoria" 
                            value="<%= locals.oldData ? oldData.categoria : null %>">
                                <option value=""> </option>
                                <% let categorias=['Cliente', 'Vendedor' ]; %>
                                    <% for(const unaCategoria of categorias) { %>
                                        <option value="<%= unaCategoria %>">
                                            <%= locals.oldData && (unaCategoria==oldData.categoria) ? oldData.categoria
                                                : null%>>
                                                <%= unaCategoria %>
                                        </option>
                                        <% } %>
                            </select>
                            <% if (locals.errors && errors.categoria) { %>
                                <div class="texto-error">
                                    <%= errors.categoria.msg %>
                                </div>
                                <% } %>
                        </div>

                        <div class="campos-de-relleno">
                            <p>Contraseña</p>
                            <input   
                            class="campo-individual <%=locals.errors && errors.nombre ? 'is-invalid' : null %>"
                            type="password" 
                            name="contrasena" 
                            placeholder="**********"
                            value="<%= locals.oldData ? oldData.contrasena : null %>">
                            <% if (locals.errors && errors.contrasena) { %>
                                <div class="texto-error">
                                    <%= errors.contrasena.msg %>
                                </div>
                                <% } %>
                        </div>

                        <div class="campos-de-relleno">
                            <div class="botones">
                                <button type="submit" class="boton2">Creá tu cuenta</button>
                            </div>
                        </div>

                    </form>

                </div>




            </main>

            <!-- footer -->

            <%- include("./partials/footer") %>

    </body>

</html>