<!DOCTYPE html>
<html lang="en">

<!-- head -->

<%- include("./partials/head") %>

    <!-- hoja de estilos -->
    <link rel="stylesheet" href="css/normalize.css">
    <link href="/css/edicion-styles.css" rel="stylesheet">

    <body>
        <!-- header -->

        <%- include("./partials/headerLogin") %>

            <main>
                <div class="edita-archivo">

                    <div class="left-options">
                        <h2> Edición de Productos </h2>
                        <div class="form-group">
                            <label for="file-input">
                                <img class="img-prueba" src="/img/pantalonRunning.jpg" alt="buttonjpg">
                            </label>
                            <input id="file-input" type="file" accept="image/*"/>
                          </div>
                    </div>

                    <div class="right-options">
                        <h2>Estas editando el producto: <i> <%=producto.nombre%> </i> </h2>
                        <!-- productos.id -->
                        <form method="POST" action="productos/edicion/<%=producto.id%>?method=PUT">
                            <label for="nombre">Nuevo nombre</label>
                            <input type="text" name="nombre" id="nombre" value ="<%=producto.nombre%>" minlength="3" required>
                            <label for="nombre">Precio</label>
                            <input type="number" name="precio" id="precio"  value ="<%=producto.precio%>" required>
                            <label for="categoria">Categorías</label>
                            <select name="categoria" id="categoria"  value ="<%=producto.categoria%>" required>
                                <option value="buzo">Buzos</option>
                                <option value="calzado">Calzado</option>
                                <option value="pantalon">Pantalón</option>
                                <option value="remeras">Remeras</option>
                            </select>
                            <label for="talles">Talles</label>
                            <select name="talles" id="talles" required>
                                <option value="Small">S</option>
                                <option value="Medium">M</option>
                                <option value="Large">L</option>
                                <option value="ExtraLarge">XL</option>
                            </select>
                            <label for="descripcion">Descripción</label>
                            <textarea name="descripcion" id="descripcion"><%= producto.descripcion %> </textarea required>

                      <a href="/productos/edicion/<%=producto.id%>" class="boton-editar edit">Editar</a>
                    </form>
                    <form action="/edicion/<%=producto.id%>?method=DELETE" method="POST">
                        <button class="boton-borrar" type="submit">Borrar</button>
                    </form>
                </div>
              </div>
          </main>

            <!-- footer -->

            <%- include("./partials/footerLogueado") %>

    </body>

</html>